﻿@using FizzBuzz.Web.Helpers
@model IEnumerable<FizzBuzz.Model.Quiz>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fizz or Buzz")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.QuizName.ToLowerInvariant() == Constants.fizz.ToLowerInvariant())
            {
                <td class="text-blue">
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
            }
            else if (item.QuizName.ToLowerInvariant() == Constants.buzz.ToLowerInvariant())
            {
                <td class="text-green">
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
            }
        </tr>
    }

</table>
<h3>Success fully added</h3>
