﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Fizz Buzz </h2>

<p>
    Enter number between 1 to 1000 : <input id="txtNumber" name="txtNumbar" class="text-box" />
    <input type="button" name="submit" id="btnSubmit" value="Submit" onclick="Calculate();">
    <div id="divResult">

    </div>

</p>
